{% extends "layout.html" %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 class="mt-5">About</h1>
			<div class="text-center">
				<img src="static/about.png" class="rounded" style="width:500px;height:200px">
			</div>
			<br>
			<p class="lead">This a simple tool to extract your runs from NRC and publish them on Strava</p>
			<ul class="list-unstyled">
				<li>Contact: <a href="https://github.com/srujanpatil/nrc2strava" target="_blank">nrc2strava</a></li>
				<li></li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}